.ats-button:before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 3px;
}

.ats-button-light:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJtMTIgMyAwLTIgMiAwIDAgMiAyIDAgMCAyLTIgMCAwIDItMiAwIDAtMi0yIDAgMC0yeiIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2ZpbGw6ICNmZmY7Ii8+PHBhdGggZD0ibTEuNTMyNDY2MyA2LjQ1ODQ4NTEgMCA2LjU3ODA4MDktMS41MzI0NjYzIDAgMC0xMC4yOTI2NjE5IDYuODU3ODI3OCA2Ljg2OTI5MyAwLTYuNjEzMTk3MSAxLjUzMzM0NDggMCAwIDEwLjMzMDE0Mi02Ljg1ODcwNjMtNi44NzE2NTY5IiBzdHlsZT0iZmlsbC1ydWxlOm5vbnplcm87ZmlsbDogI2ZmZjsiLz48L3N2Zz4=);
}
.ats-button-dark:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJtMTIgMyAwLTIgMiAwIDAgMiAyIDAgMCAyLTIgMCAwIDItMiAwIDAtMi0yIDAgMC0yeiIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2ZpbGw6IzIyMiIvPjxwYXRoIGQ9Im0xLjUzMjQ2NjMgNi40NTg0ODUxIDAgNi41NzgwODA5LTEuNTMyNDY2MyAwIDAtMTAuMjkyNjYxOSA2Ljg1NzgyNzggNi44NjkyOTMgMC02LjYxMzE5NzEgMS41MzMzNDQ4IDAgMCAxMC4zMzAxNDItNi44NTg3MDYzLTYuODcxNjU2OSIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvO2ZpbGw6IzIyMiIvPjwvc3ZnPg==);
}

.ats-button.ats-success:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJtMTIgMyAwLTIgMiAwIDAgMiAyIDAgMCAyLTIgMCAwIDItMiAwIDAtMi0yIDAgMC0yeiIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2ZpbGw6IzI3QUU2MCIvPjxwYXRoIGQ9Im0xLjUzMjQ2NjMgNi40NTg0ODUxIDAgNi41NzgwODA5LTEuNTMyNDY2MyAwIDAtMTAuMjkyNjYxOSA2Ljg1NzgyNzggNi44NjkyOTMgMC02LjYxMzE5NzEgMS41MzMzNDQ4IDAgMCAxMC4zMzAxNDItNi44NTg3MDYzLTYuODcxNjU2OSIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvO2ZpbGw6IzI3QUU2MCIvPjwvc3ZnPg==)
}

.ats-button.ats-failure:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJtMTIgMyAwLTIgMiAwIDAgMiAyIDAgMCAyLTIgMCAwIDItMiAwIDAtMi0yIDAgMC0yeiIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2ZpbGw6I2FlMjczMiIvPjxwYXRoIGQ9Im0xLjUzMjQ2NjMgNi40NTg0ODUxIDAgNi41NzgwODA5LTEuNTMyNDY2MyAwIDAtMTAuMjkyNjYxOSA2Ljg1NzgyNzggNi44NjkyOTMgMC02LjYxMzE5NzEgMS41MzMzNDQ4IDAgMCAxMC4zMzAxNDItNi44NTg3MDYzLTYuODcxNjU2OSIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvO2ZpbGw6I2FlMjczMiIvPjwvc3ZnPg==)
}

.ats-button.ats-loading:before {
  background-image: url('chrome-extension://__MSG_@@extension_id__/content_script/loading.gif')
}

.sc-button-visual.ats-button.ats-loading:before {
  background-image: url('chrome-extension://__MSG_@@extension_id__/content_script/loading-dark.gif')
}